# Java
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.log
*.cache
target/
*.iml
*.ipr
*.iws
/.idea/
/.settings/

# Maven
.settings/
.mvn/
.mvnrc
.mvn/**
release.properties
dependency-reduced-pom.xml

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/dist

# Docker
**/docker-compose.override.yml
**/docker-compose.*.yml

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# temporary files
*.tmp
*.swp

